.register-all {
  display: flex;
}
.img {
  background-image: url("https://www.pexels.com/es-es/foto/empresario-hombre-mujer-ordenador-portatil-6694864/");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}


.button-register {
  background-color: blue;
}

.register {
  margin: "5%";
}

.popUp {
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 14%;
  left: 0;
  right: 0;
  margin: 17%;
  border-radius: 10px;
  height: 190px;
  border: 2px solid gray;
  box-shadow: 2px 2px 20px 20px rgba(60, 76, 90, 0.6);
  padding: 5%;
  background-color: white;
}

.popUp button {
  cursor: pointer;
  line-height: 1.5;
  background-color: black;
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 20px 0;
}
.popUp h1 {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 0;
  padding-right: 10px;
}
.popUp a {
  display: flex;
  justify-content: right;
}
